/* Container for the entire component */
.time-range-selector {
    display: flex;
    align-items: center; /* Vertically center all items */
    gap: 15px; /* Space between elements */
    padding: 10px;
    border-radius: 10px;
}

  
  
  /* Road selector dropdown */
.road-selector {
    padding: 8px 30px 8px 12px; /* Add more padding on the right */
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: border-color 0.3s ease;
    appearance: none; /* Remove default arrow */
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23006400%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"); /* Dark green arrow */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Position the arrow */
    background-size: 12px; /* Size of the arrow */

  }
  
  /* Hover effect for the dropdown */
  .road-selector:hover {
    border-color: #007bff;
  }
  
  /* Focus effect for the dropdown */
  .road-selector:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }


  /* Label for the road selector */
  .road-selector-label {
    font-size: 16px;
    color: #333;
    
  }
  
 
  
  /* Time inputs container */
  .time-inputs {
    display: flex;
    align-items: center; /* Vertically center all items */
    gap: 10px; /* Space between elements */
  }
  
  /* Label for time inputs */
  .time-label {
    font-size: 16px;
    color: #333;
  }
  
  /* Time input fields */
  .time-input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
   
  }
  
  .time-input:hover {
    border-color: #388087;
  }
  
  /* Fetch data button */
  .fetch-button {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color:  #388087;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .fetch-button:hover {
    background-color:  #174d52;
  }
  
  .fetch-button:active {
    background-color: #102d30;
  }