.header-div-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #e9ecef;
    height: 56px;
    font-size: 20px;
    font-weight: bold;
  
}

.header-div-ul li {
    list-style: none;

}

.header-div-ul li:hover {
    background-color: #f6f6f2;
    border-radius: 5px;
    transition: 0.3s ease;
    transform: scale(1.1);

}

.header-div-ul li a {
    text-decoration: none;
    color: #388087;

}
