/* Container for the map and controls */
.map-container {
    display: flex;
    justify-content: center;
    padding: 25px;
    border-radius: 5px;
    height: fit-content;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(37, 121, 55, 0.1);
  }

.map-container:hover {
    box-shadow: 0 4px 8px rgba(37, 121, 55, 0.2);
  }
  
  /* Leaflet map container */
  .leaflet-container {
    width: 800px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Controls container (time, road, buttons, legend) */
  .controls-container {
    margin-left: 10px;
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Time and road text */
  .controls-container p {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin: 0 0 10px 0;
  }
  
  /* Buttons container */
  .buttons-container {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
  
  /* Button styling */
  .button {
    padding: 8px 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .button:active {
    background-color: #004080;
  }
  
  /* Legend container */
  .legend-container {
    margin-top: 10px;
  }
  
  /* Legend item */
  .legend-item {
    display: flex;
    align-items: center;
    
    margin-bottom: 5px;
  }
  
  /* Legend circle (vehicle marker) */
  .legend-circle {
    width: 12px;
    height: 12px;
    background-color: #007bff;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  /* Legend text */
  .legend-text {
    font-size: 12px;
    color: #333;
  }

  .empty-data-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.5rem;
    color: #555;
  }
  